<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout :: head('Login')}">
    <title>Login</title>
</head>

<body>

    <!-- Insertamos el Header del layout -->
    <header th:replace="~{layout :: header}"></header>

    <main class="main-content">
        <div class="card">
            <h2 style="margin-top: 0; text-align: center; color: var(--primary-color); margin-bottom: 1.5rem;">Iniciar
                Sesión</h2>

            <div th:if="${error}"
                style="background-color: #fee2e2; color: #b91c1c; padding: 0.75rem; border-radius: 6px; margin-bottom: 1.25rem; border: 1px solid #fca5a5; font-weight: 500; text-align: center;">
                <p th:text="${error}" style="margin: 0;"></p>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="correo">Usuario o Correo Electrónico</label>
                    <input type="text" id="correo" name="correo" class="form-control" placeholder="" required autofocus>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-control" required
                        placeholder="********">
                </div>

                <button type="submit" class="btn" style="margin-top: 1rem;">Ingresar</button>
            </form>
        </div>
    </main>

    <!-- Insertamos el Footer del layout -->
    <footer th:replace="~{layout :: footer}"></footer>

</body>

</html>